<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BRAVE APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input
              name="titulo"
              [(ngModel)]="titulo"
              #tituloInput="ngModel"
              class="b-bottom"
              placeholder="Título..."
              minlength="3"
              required
            ></ion-input>
            <div *ngIf="tituloInput.invalid && (tituloInput.dirty || tituloInput.touched)">
              <div *ngIf="tituloInput.errors?.['required']">El título es obligatorio!</div>
              <div *ngIf="tituloInput.errors?.['minlength']">El título debe tener minimo 3 caracteres!</div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input
              name="descripcion"
              [(ngModel)]="descripcion"
              #descripcionInput="ngModel"
              class="b-bottom"
              placeholder="Descripción..."
              minlength="10"
              required
            ></ion-input>
            <div *ngIf="descripcionInput.invalid && (descripcionInput.dirty || descripcionInput.touched)">
              <div *ngIf="descripcionInput.errors?.['required']">La descripción es obligatoria!</div>
              <div *ngIf="descripcionInput.errors?.['minlength']">La descripción debe tener minimo 10 caracteres!</div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button
              type="submit"
              color="secondary"
              expand="block"
              [disabled]="!myForm.valid"
            >
              Enviar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Mis notas📝</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="tasks.length > 0; else noTasks">
        <ion-item-sliding *ngFor="let task of tasks; let i = index">
          <ion-item>
            <ion-label [ngClass]="{ 'done': task.done }">
              <h2>{{ task.titulo }}</h2>
              <p>{{ task.descripcion }}</p>
            </ion-label>
            <ion-checkbox
              slot="end"
              [checked]="task.done"
              (ionChange)="toggleDone(i)"
            ></ion-checkbox>
          </ion-item>

          
        
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="deleteTask(i)">
              <ion-icon name="trash"></ion-icon>
              Eliminar
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      <ng-template #noTasks>
        <ion-item>
          <ion-label>No hay notas disponibles☹️</ion-label>
        </ion-item>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>
